<h2>{{ 'HOME.TITLE' | translate }}</h2>
<label>
  {{ 'HOME.SELECT' | translate }}
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
</label>


<p *ngIf="networkStatus">{{ 'HOME.ONLINE' | translate }}</p>
<p *ngIf="!networkStatus">{{ 'HOME.OFFLINE' | translate }}</p>
<label for="firstName">{{ 'HOME.FIRST_NAME' | translate }}</label>
<input type="text" name="firstName" id="firstName" [(ngModel)]="firstName">
<label for="lastName">{{ 'HOME.LAST_NAME' | translate }}</label>
<input type="text" name="lastName" id="lastName" [(ngModel)]="lastName">
<button (click)="add()">{{ 'HOME.ADD' | translate }}</button>

<ul>
    <li *ngFor="let user of usersStore | async">{{ user.firstName }} {{ user.lastName }} {{ user.date }}</li>
</ul>


<input type="text" [(ngModel)]="value">
<ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>

<app-test></app-test>
